* {
font-family: arial, sans-serif, "Helvetica Neue", sans-serif;
}
body {

margin: 0px;
padding-top: 55px;

 }      p {
margin: 6px 0px 6px 0px;
}
.solxy h2{ clear:both;}

dfn {background: rgb(173, 221, 66);
display: flex;
padding: 6px;
color: white;
height:auto;
font-style: normal; }
dfn b {font-size: 30px;
background: #006EE7;
display: inline-block;
padding: 8px 2px 11px 2px;
color: white;
float: left;
margin: -6px 5px -6px -6px; }

pre code { background: none !important; color:#385100;}
code {color: red;
background: rgb(255, 242, 242);
padding: 0px 5px 0px 5px;}

pre{background: #E1E4F2;
border: 1px inset;
clear: both;
 white-space: pre-wrap; display:flex; width:auto;}
.bnav{display: block;
border-bottom: 1px solid rgb(213, 213, 213);
font-size: 13px;
margin-bottom: 12px;
background: url(http://icons.iconarchive.com/icons/glyphish/glyphish/24/71-compass-icon.png) no-repeat 0% 0%;
padding-left: 25px;
padding-bottom: 5px;}
 .besin {width: 100%;}
.besin td {background-color: #f7f7f7;
border-right: 1px solid #ddd !important;
border: 0px;
padding-left: 6px;
text-align: left;
font-size: 12px;
border-bottom: 1px solid #ddd !important;
}
main header {padding-bottom: 5px;}
 .besin th {
background-color: #15B1EB;
border: 0px;
color: white;
text-align: left;
padding-left: 4px;
padding-right: 4px;
}
 h1 a {color:black; line-height:35px; font-size:28px; font-weight:300; margin-bottom:5px;}
 h1,h2,h3 {margin: 0;
padding-bottom: 7px;
font-weight:200;
font-size: 25px;
color: rgb(0, 0, 0);}
.solxy {width: 685px;
float: left;
overflow: auto;          
border-top: 3px solid #006EE7;
background: white;
 }
.sagxy {width: 300px;
float: left; 
padding:8px;
margin-left:8px;
overflow: auto;
border-top: 3px solid #4F4F4F;
background-color: #F9F9F9;}
.container { width: 1020px;
margin: 0 auto;
padding-top: 10px;
clear: both;
font-size: 13px;
line-height: 16px;
color: rgb(0, 0, 0);
overflow: auto;}
.nav22 { width: 980px;  margin: auto;}
.dpara{ float: left;
width: 120px;
color: rgb(0, 118, 245);
padding: 5px;
font-weight: bold;
padding-left: 22px;
font-size: 15px;
display: inline-block;
text-decoration: none;
background: url(http://icons.iconarchive.com/icons/famfamfam/silk/16/money-icon.png) no-repeat 1% 33%;} 
.tumseh { float:left;}
.lisi b {font-size: 18px;
clear: both;
display: block;
padding: 18px 8px 8px 8px;}

.yul{padding:0px;}
.yul li { padding-left: 5px;
font-size: 12px;
margin-left: 21px;
white-space: nowrap;
width: 275px;
float: left;
text-overflow: ellipsis;
overflow: hidden;
line-height: 16px;
margin-bottom: 10px;
border-left: 4px solid rgb(156, 192, 180);}
 
.xft{margin: 0 auto;
clear: both;
padding-top: 15px;
font-size: 14px;
clear: both;  border-top: 3px solid #FC0;  background-color: #006DD2;  margin: 0;  padding: 20px 0;  overflow: hidden;  text-align: center;  font-size: 13px;  color: #FFF;
}
.hhe { 
top: 0;
left: 0;
position: fixed;
width: 100%;
z-index: 1111;
background: white;
border-bottom: 1px solid rgb(234, 234, 234); }
.xfll {width: 990px;
margin: 0px auto;
padding: 6px 0px 4px 15px;
text-align: left;
color: #0B0B0B;
}
.sagul {list-style-type: square;}
.sagul li {border-bottom: 1px solid rgb(203, 216, 221);
padding-bottom: 4px;
margin-bottom: 4px;}
.n9 {  }
.n9 img {float:left;}
.xfll a{text-decoration: none;
margin-right: 10px;
line-height: 35px;
font-size: 35px !important;
padding: 0px 12px 0px 30px;
color: #006EE7;         
border-right: 1px solid #DDDDDD;
background: url(http://icons.iconarchive.com/icons/dakirby309/simply-styled/32/OS-Android-icon.png) no-repeat 0%;} 



 .solxy img {
max-width: 670px;
cursor: -webkit-zoom-in;
}
.t {
color: #3e6d8e !important;
font-weight: normal !important;
background-color: #e0eaf1;
border-bottom: 1px solid #b3cee1;
border-right: 1px solid #b3cee1;
padding: 3px 4px 3px 4px;
margin: 2px 2px 2px 0;
text-decoration: none;
font-size: 11px !important;
line-height: 1.4;
white-space: nowrap;
display: inline-block;
}
ul {
list-style-type: none;
padding: 0px;
margin-top: 5px;
}
a {
color: rgb(0, 100, 255);
text-decoration: none;
font-size: 14px;
overflow-wrap: break-word;
padding-left: 5px;
padding-right: 5px;
}
a:hover {
text-decoration: underline;
}
.t:hover {
background-color: #c4dae9;
border-bottom: 1px solid #c4dae9;
border-right: 1px solid #c4dae9;
}

.ipuc {margin: 0px;
list-style-type: none;
padding: 0px;}
.ipuc li {height: auto;
display: table;
width: 100%;
border-bottom: 1px solid rgb(226, 226, 226);}
.ipuc li a {font-size: 18px;
text-decoration: none;
color: rgb(0, 155, 239);
font-weight: bold;}
.ipuc li i {background: #ffe9d5;
border: 1px solid #ffd196; display: inline-block;
padding: 5px;
text-align: center;
font-style: normal;
margin: 5px;
float: left; }
.ipuc li u {display: inline-block;
border: 1px solid rgb(213, 213, 213);
padding: 5px;
text-align: center;
font-style: normal;
margin: 5px;
float: left;
text-decoration: none;}
.ipuc li time {color: rgb(224, 154, 154);}


.xtam{
width: auto;
height: 160px;
overflow: auto;
margin-bottom: 10px;
background: #FFF;
padding: 10px;
overflow: auto; 
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
}

.xxsol { 
width: auto;
height: auto;
overflow: auto;
line-height: 23px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
margin: 7px;
background: white;
margin-bottom: 15px !important;
padding: 15px !important; }


.prfl{width: 103%;
margin-left: -10px;
margin-right: -10px;
max-height: 350px;
height: auto;margin-top: 5px;}
.prh1{margin: 0px; padding-bottom: 4px;}
.prfi{  color: #3CB814;
   font-weight: bold;
    display: inline-block;
    float: right;
}               
.prfi s {color: #EB1616;
font-weight: normal;
margin-left: 20px;}
.prin{display: inline-block;
float: right;
text-align: center
color: #FFF;
background-color: #EB1616;
padding: 3px;
margin-right: 6px;
margin-top: -10px;
-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33); 
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33); }
.prin b{ font-size: 20px;}

#tbs{background-color: #0886FF;
padding: 0px;
display: block;
margin: -10px -10px 0px -10px;}
#tbs a{ padding: 10px;
border-left: 1px solid #005DB9;
display: inline-block;
color: #FFF;
text-decoration:none;
font-size: 15px;}
#tbs a:hover {color: #FFF; background-color: #055FB6; box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);}
.akv{background-color: #fff; color:#111 !important; box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.12);}




.kt {list-style: none; margin: 0px; padding: 0px;}
.kt li {
color: #2E2E2E;
position: relative;
width: auto;
clear: both;
border: 7px solid white;
min-height: 130px;
height: auto;
background: #F0F2FF;
margin-bottom: 16px;
-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.31);
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.31);
line-height: 21px;
}
.kt li b a {
color: rgb(0, 118, 247);
text-decoration: none;
padding: 3px;
font-size: 21px;
font-weight: normal;
line-height: 32px;
}
.kt .bj {
cursor: pointer;
width: 210px;
height: 130px;
float: left;
margin-right: 8px;
}


.lfi { float: right;
height: 130px;
text-align: center;
width: 160px;
background-color: rgb(255, 255, 255);
border-left: 1px solid rgb(231, 231, 231);}
.lfi s{font-size: 17px;}
.lfi strong{font-size: 40px; line-height: 43px;}
.lfi sup{font-size: 15px;}



.feedEkList{list-style: none;
color: #767676;
margin: 0px;}
.feedEkList li{border-bottom: 1px solid #D8D8D8;
padding: 5px;}
.feedEkList li:last-child{border-bottom:none;}
.itemTitle a{font-weight:bold; color:#4EBAFF !important; text-decoration:none }
.itemTitle a:hover{ text-decoration:underline }
.itemDate{font-size:11px;color:#AAAAAA;} 

 .duvar { -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    }
    .wtv a{float: left;
display: inline-block;
text-align: center;
margin-right: 15px; 
width: 85px;
height: 120px;  
margin-left: 15px;}
.mbt{display: table;

width: auto !important;
height: auto !important;
margin: 5px 30px;
clear: both;
float: right !important;
padding: 5px 20px;
background: rgb(0, 148, 255);
color: white;
box-shadow: 0 1px 3px rgba(0, 52, 186, 0.21);}
.mbt:hover {background: rgb(0, 113, 195); color:white; text-decoration:none;}
.div2 { width: 95%;
height: auto;
margin: 7px;   
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
display: inline-block;
background: #FFF;
padding: 10px;

    }
.USD {background: url(http://moneyrazzi.com/i/c.png) no-repeat -2864px -258px; z-index: 100; width: 16px; height: 12px; display:inline-block; }
.TRY {background: url(http://moneyrazzi.com/i/c.png) no-repeat -2768px -258px; z-index: 100; width: 16px; height: 12px; display:inline-block; }
.ITL {
background: url(http://moneyrazzi.com/i/c.png) no-repeat -1376px -258px;
z-index: 100;
width: 16px;
height: 12px;
display: inline-block;
} .FRF {
background: url(http://moneyrazzi.com/i/c.png) no-repeat -1008px -258px;
z-index: 100;
width: 16px;
height: 12px;
display: inline-block;
}  .ESP {
background: url(http://moneyrazzi.com/i/c.png) no-repeat -912px -258px;
z-index: 100;
width: 16px;
height: 12px;
display: inline-block;
}  .DEM {
background: url(http://moneyrazzi.com/i/c.png) no-repeat -768px -258px;
z-index: 100;
width: 16px;
height: 12px;
display: inline-block;
} .RUB {background: url(http://moneyrazzi.com/i/c.png) no-repeat -2320px -258px; z-index: 100; width: 16px; height: 12px; display:inline-block; }
.JPY {background: url(http://moneyrazzi.com/i/c.png) no-repeat -1424px -258px; z-index: 100; width: 16px; height: 12px; display:inline-block; }
.PTE {background: url(http://moneyrazzi.com/i/c.png) no-repeat -2224px -258px; z-index: 100; width: 16px; height: 12px; display:inline-block; }
.NLG {background: url(http://moneyrazzi.com/i/c.png) no-repeat -2048px -258px; z-index: 100; width: 16px; height: 12px; display:inline-block; }




